/************************* pla **********************************/
.userentry {width: 100%;padding-top: 12px;text-align: center;}

/*********************** login ********************************************/
.Colbgd {border: 1px solid #cdcdcd;}
.login_head {height: 250px;background-image: url(../img/loginheadbg.png);background-size:100% 100%;background-repeat:no-repeat;}
.login_head h1 {color: #fff;text-align: center;margin-top: 100px;}
.logbgd {width: 100%;height: 100%;}
.logdiv {background: #fff;margin-top: 20px;padding:  20px 20px 30px 20px;}
.login-form {max-width: 300px;}
.login-form-forgot {float: right;}
.login-form-button {width: 100%;}
.ant-input-affix-wrapper .ant-input {min-height: 32px;}
/*********************** workstation ********************************************/
